{% extends 'base.html' %}

{% block content %}

<!--
  <section class="jumbotron text-center">
  <div class="container">
  <h1 class="jumbotron-heading">{{ product.title }}</h1>
  </div>
  </section>
-->

<div class="card mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <img class="img-fluid" src="{{ product.icon.url }}">
      </div>
      <div class="col-8">
        <h1>
          <a href="{{ product.url }}">
            {{ product.title }}
          </a>
        </h1>
      </div>
    </div>
  </div>
  <img src="{{ product.image.url }}" class="img-fluid">
  <div class="card-body">
    <p class="card-text">
    {{ product.body }}
    </p>
    <a class="btn btn-info btn-lg btn-block" href="javascript:{document.getElementById('upvote').submit()}">Upvote {{ product.votes_total }}</a>
    <p class="card-text float-left">
    <small class="text-muted">Hunted by {{ product.hunter.username }}</small>
    </p>
    <p class="card-text text-right">
    <small class="text-muted">{{product.pub_date}}</small>
    </p>
  </div>
</div>

<form id="upvote" action="{% url 'upvote' product.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden">
</form>

{% endblock %}
